

  body{
	background-color: #3e3e3e;
	font-family: 'Abel', sans-serif;
  }
  
  ul{
	list-style-type: none;
  }
  
  .container{
	padding: 0px 0;
	margin:auto;
	width: 50%;
	text-align: center;
	color: #d6d6d6;
}
	h1{
		display:inline;
		position: relative;
		left: 1em;
	}
	h2{
		display:inline;
		float:right;
		margin: 0px 0px 0px 0px;
		position: relative;
		right: 2.5em;
		top: .35em;
	}
	

#login{
	padding: 150px 0;	
	font-size:50px;
}

#intro{
	font-size: 22px;
	font-family: 'Cairo', sans-serif;
	width: 44%;
	margin:auto;
	padding:20px;
}
 .media{
 background-color: #242424;
 margin: auto;
 
 width:840px;
 border:2px solid #242424; 
 border-radius: 10px; 
 box-shadow: 10px 10px 5px -1px #000000;
 
 }
 .media-body{
	font-size: 19px;
	height:570px;
	overflow:auto; 
 }
 th{
	font-size: 22px;
 }
  table {
  border-collapse: collapse;
  table-layout:fixed;
  width: 100%;  
  white-space: nowrap;
  
}
  .headTable{
	width:97.6%;
  }
  th{
	border-bottom: 2px solid #ff6624;
	text-align:center;
	width: 60%;
  }
  .headTable th{  
	
	text-indent: 1em;
  }
  .headTable th:first-child{  
	
	text-indent: 1.5em;
  }
  .headTable th:last-child{  
	
	text-indent: 0em;
  }
  .bullCol{
	width: 2%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	text-overflow: initial;
	overflow: visible;
	white-space: nowrap;

  }
  .songCol{
	width: 34%;
	
  }
  .artistCol{
	width: 30%;
  }
  .albumCol{
	width:34%; 	
  }
  tr{
	line-height: 50px;
	text-align:center;
  }
  tbody tr {
    border-bottom: 2px solid #18813b;	
  }  
  tbody tr:last-child{
	border-bottom:0;
  }
  tbody tr:hover{
	background: #1a1a1a;
	color: #21b754;
  }
  .baseTable tr:first-child.selected{
	background: #1a1a1a;
	color: #ff6624;
  }
  .baseTable tr.selected{
	background: #1a1a1a;
	color: #ff6624;
  }
  td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  button.mbutton {
  border-top: 1px solid #ff6624;
  padding: 8px;
  background-color: #242424;  
  background-image: linear-gradient(to bottom, #333333, #242424);
  border: none;
  border-radius: 10px;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  color: white;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position:relative;
}
button.mbutton:before, button.mbutton:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left:0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 10px;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: opacity;
}
button.mbutton:before {
  bottom: 100%;
  background: radial-gradient(ellipse at 50% 150%, rgba(33,183,84,0.75) 0%, transparent 80%);
}
button.mbutton:after {
  top: 100%;
  background: radial-gradient(ellipse at 50% -50%, rgba(33,183,84,0.75) 0%, transparent 80%);
}
button.mbutton:hover:before, button.mbutton:hover:after {
  opacity: 1;
}
button.mbutton:active:before, button.mbutton:active:after {
  transition-duration: 0.2s;
  opacity: 0;
}
button.mbutton:hover{
	color:#21b754;
	background: #242424;
}
button.mbutton:disabled{
	opacity: 0.5;
	pointer-events: none;
}
button.mbutton:active{
	box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,1);

}
#next-50{
	position:relative;
	left: 2%;
	}
	#prev-50{
	position:relative;
	left: -2%;
 }
 
#buttons{
	padding: 30px;

}

